<div class="main topics-show">
  <div class="container">
    <div class="topics-show-item">
      <div class="topic-user-name">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <p>
        <%= @topic.description %>
      </p>
      <div class="topic-time">
        <%= @topic.created_at %>
      </div>
      <% if Like.find_by(user_id: @current_user.id, topic_id: @topic.id) %>
      いいね！済み
      <% else %>
      いいね！していません
      <% end %>
      <% if @topic.user_id == @current_user.id %>
      <div class="topic-menus">
        <%= link_to("編集", "/topics/#{@topic.id}/edit") %>
        <%= link_to("削除", "/topics/#{@topic.id}/destroy", {method: "post"}) %>
      </div>
      <% end %>
    </div>
  </div>
</div>