<!DOCTYPE html>
<html>
  <head>
    <title>Kobagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("Kobagram", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("Kobagramとは", "/about") %>
        </li>
        <li>
          <%= link_to("記事一覧", "/topics/index") %>
        </li>
        <li>
          <%= link_to("新規投稿", "/topics/new") %>
        </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
